<div class="container">
    <div class="row rowsize" *ngFor="let item of cart.reverse()">
        <div class="col-9 " >
            <div class="card " >
                <div class="row rowsize2 ">
                  <div class="col-md-2">
                    <img src="{{item.product.image}}" class=" img imagesize rounded-start" alt="...">
                  </div>
                  <div class="col-md-6 des ">
                    <div class="card-body">
                      <h5 class="card-title">{{item.product.name}} 
                        
                     </h5>
                      <p class="card-text">{{item.product.description}}</p>
                      <p  class="card-text">Quantity-{{item.quantity}}</p>
                      <p class="card-text"><small class="text-muted"> Added on {{item.created_date.slice(0,10)}}</small></p>
                      
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <button (click)="removeFromCartFunction(item.id)" class=" button-5 btn " type="button">remove</button>
                    <button (click)="placeOrderCartFunction(item.product.id)" type="button" class=" button-4 btn ">Place Order</button>
                </div>
                </div>
              </div>
        </div>
       
    </div>
    <div *ngIf="cart.length==0">
      <img class="image" src="assets/images/empty cart.png" alt="">
      <p class="nop">Your cart is empty!</p>
      <p class="nop2">Explore our wide selection and find something you like</p>
    </div>
</div>