<div class="container-fluid colorgroup">
 
  <div class="row align-items-center py-3 px-xl-5">
      <div class="col-lg-3 d-none d-lg-block">
          <a href="" class="text-decoration-none" routerLink="/">
              <h1 class="m-0 display-5 font-weight-semi-bold text-primary" ><span class=" font-weight-bold   navcolor2">M</span>store</h1>
          </a>
      </div>
      <div class="col-lg-6 col-6 text-left">
          <form action="">
              <div class="input-group">
                  <input type="text" class="form-control serarchbar" placeholder="Search for products">
                  <div class="input-group-append">
                      <button class="input-group-text btn text-primary searchbutton">
                          search
                      </button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-3" *ngIf="username">
      <li class="navbar-brand dropdown account">
        <a class="nav-item dropdown-toggle navcolor2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{username}}
        </a>
        <ul class="dropdown-menu">
          <li><a (click)="logoutFunction()" class="dropdown-item"  >Logout</a></li>
          <li><a *ngIf="jwt=='true'" class="dropdown-item" routerLink="/admin/dashboard" >Dashboard</a></li>
        </ul>
      </li></div>
      <div class="col-3 " *ngIf="username==null">
          <a class="navbar-link login" routerLink="/signin">Login</a>
        </div>
      
      

  </div>
</div>
<!-- nav component -->
<nav class="navbar navbar-expand-lg navcolor ">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       
        <li class="nav-item">
          <a class="nav-link " routerLink="/">Home</a>
        </li>
      </ul>
      
        <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a (click)="cart()" class="nav-link ">Cart</a> 
          </li>
          <li class="nav-item">
            <a (click)="order()" class="nav-link ">Orders</a>
          </li>
        </ul>
          
        
     
    </div>
  </div>
</nav>


      
         
<router-outlet></router-outlet>
