
.rowh{
  margin-top: 5%;
}
* {
	margin: 0;
	padding: 0;
}

body {
	
	flex-wrap: wrap;
	background: #ceb4df;
	
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#DA22FF, #9733EE);
	clip-path: circle(30% at right 70%);
}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#E55D87, #5FC3E4);
	clip-path: circle(20% at 10% 10%);
}

.container{
	padding-right: 200px;
}

.container .card {
	position: relative;
	width: 300px;
	height: 300px;
	background: rgba(215, 190, 240, 0.947);
	margin: 20px;
	margin-top: 70px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	margin-right: 40%;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 120%;
	object-fit: cover;
	padding-right: 17%;
}

.container .card .content .contentBx h3 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: rgb(0, 0, 0);
	font-size: 20px;
}

.align{
	margin-left: 110px;
	font-weight: 600;
	font-size: 30px;
}
.cat:hover {
	color: #9733EE;
}
.cat{
	padding: 15px 0px 15px 0px;
}



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container {
	background: #444e80;
	color: #abafc6;
	border-radius: 5px;
	padding: 20px;
	width: 440px;
	height: 350px;
}

.year-stats {
	white-space: nowrap;
	max-height: 170px;
	overflow: hidden;
}

.year-stats:hover {
	overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #abafc6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #5397d6;
}

.month-group {
	cursor: pointer;
	max-width: 400px;
	height: 110px;
	margin: 10px;
	display: inline-block;
}

.bar {
	background-color: #abafc6;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
	background: #5397d6;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.h-25 {
	height: 25%;
}
.h-50 {
	height: 50%;
}
.h-75 {
	height: 75%;
}
.h-100 {
	height: 100%;
}

.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: #915db1;
	fill: none;
	stroke-width: 3;
}

.circle:nth-child(2) {
	stroke: #e59f3c;
}

.circle:nth-child(3) {
	stroke: #5397d6;
}

.circle:nth-child(4) {
	stroke: #4cc790;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.info p {
	margin-bottom: 10px;
}

.info span {
	color: #fff;
}
.marf{
	padding-left: 160px;
	padding-top: 50px;
}
.svg {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding-top: 40px;
	height: 400px;
	margin-bottom: 100px;
	padding-right: 700px;
  }
  
  polyline {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 2s ease-in forwards;
	
  }
  
  @keyframes dash{
	to {
	  stroke-dashoffset: 0;
	}
  }
  
  
  
  .name {
	font-size: .8rem;
	font-weight: light;
  }

  .color{
	background-color:#4f3361;
	margin-top: 5%;
  }
  .p{
	color: white;
	margin-top: 20px;
	padding-left: 370px;
}
.position{
	color: white;
	padding-top: 4%;
}
.position2{
	margin-left: 1200px;
	margin-top: 4%;
	background-color: bisque;
}
#ilo{
	color: white;
}
.imge{
	width:80px;
	height: 100%;
}